<!DOCTYPE html>
<html>
<head>
    <title>互動選項表單</title>
    <script>
        function toggleInputs() {
            var selected = document.getElementById("type_select").value;
            document.getElementById("file_group").style.display = selected === "xxx" ? "block" : "none";
            document.getElementById("text_group").style.display = selected === "yyy" ? "block" : "none";
        }
    </script>
</head>
<body>
    <h1>影片浮水印檢測器</h1>

    <p>選擇上傳影片或輸入youtube影片網址</p>
    <p>影片檔案大小不得超過100MB</p>
    <p>視檔案大小, 送出結果約等候5~10秒</p>
    <form method="POST" enctype="multipart/form-data">
        <label for="type_select">選擇輸入類型：</label>
        <select id="type_select" name="type_select" onchange="toggleInputs()" required>
            <option value="" disabled selected>請選擇</option>
            <option value="xxx">上傳影片 (限.mp4檔案)</option>
            <option value="yyy">youtube影片網址</option>
        </select>

        <div id="file_group" style="display:none; margin-top:10px;">
            <label>上傳 .mp4 檔案（最大 100MB）：</label><br>
            <input type="file" name="file_input" accept=".mp4">
        </div>

        <div id="text_group" style="display:none; margin-top:10px;">
            <label>請輸入youtube影片或Shorts網址：</label><br>
            <input type="text" name="text_input" style="width: 500px">
        </div>

        <br><br>
        <button type="submit">送出</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color: red;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if result %}
        <p style="color: rgba(6, 72, 36, 0.66); font-size: 18px;"><strong>{{ result }}</strong></p>
    {% endif %}

    {% if result2 %}
        <pre><p style="color: rgba(31, 157, 171, 0.66); font-size: 24px;"><strong>{{ result2 }}</strong></p></pre>
    {% endif %}

    <p><a href="/">回首頁</a></p>
</body>
</html>
